form.signup,
form.login {
  margin-top: 50px;
}

/* Main Styling */

body {
  background: url(../img/kayak2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*#main-body {
/*  background-image: url(../img/kayak2.png);
/*  width: 100%;
/*  height: 100%;
/*  color: white;
/*  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
/*    "Lucida Sans", Arial, sans-serif;
/*  background-repeat: no-repeat;
/*  background-attachment: fixed;
}*/


#signup-logo {
  height: 90px;
  margin-bottom: 8px;
  margin-top: 30px;
}

#navbar-logo {
  height: 55px;
  /* margin-left: 40px;
  margin-top: 12px; */
}

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
}

li {
  list-style: none;
}

#my-navbar {
  background-color: rgba(3, 20, 3, 0.425) !important;
  border: none !important;
}

a {
  color: #ff5e00;
}

h2 {
  color: white;
}

.login-container {
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.171);
  border-top: 80px;
  border-radius: 10px;
}

/* #post-input {
  border-radius: 0px;
  background: transparent;
  color: black;
  border: 1px solid #ff5e00;
  width: 90%;
  box-shadow: none;
  height: 50px;
  border-radius: 10px;
  margin-left: 10px;
} */

#post-input::placeholder {
  color: rgb(155, 155, 155);
}

textarea,
select,
input,
button {
  outline: none;
}

.post-avatar {
  margin-bottom: 10px;
}

#password-input,
#email-input,
#search-input {
  border-radius: 0px;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  box-shadow: none;
}

#password-input:focus,
#password-input:active,
#search-input:active {
  background: transparent;
}

#password-input::placeholder,
#email-input::placeholder,
#search-input::placeholder {
  color: rgb(165, 165, 165);
  font-weight: lighter;
  opacity: 1;
}

#login-button {
  border: none;
  margin-top: 50px;
  background-color: white;
  color: rgb(0, 43, 0);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
  font-size: 15px;
  border-radius: 5px;
}

/* #post-button {
  border: none;
  /* margin-top: 20px; */
/* background-color: #ff5e00;
  color: white; */
/* padding: 5px;  */
/* padding-left: 10px;
  padding-right: 10px; 
  padding-bottom: 10px; */
*/
  /* text-transform: lowercase; */
  /* font-size: 15px;  */
  /* border-radius: 5px;
}  */ 

#post-button:hover {
  background-color: #ff5e00a6;
  color: white;
  cursor: pointer;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.815);
}
#search-button {
  border-color: white;
  color: white;
  margin-top: 7px !important;
}

#search-input,
#map-li {
  margin-top: 7px !important;
}

#login-button:hover,
#search-button:hover {
  color: white;
  background-color: #ff5e00;
}

#markerBtn {
  border: none;
  margin-top: 50px;
  background-color: white;
  color: rgb(0, 43, 0);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
  font-size: 15px;
}

#markerBtn:hover {
  color: white;
  background-color: #ff5e00;
}

#login-header {
  font-size: 50px;
}

#signup-header {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  color: white;
}

#small-blank-avatar {
  border-radius: 100%;
  height: 35px;
  width: 35px;
}

.post-divs {
  background-color: rgba(255, 255, 255, 0.897);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}

/********************************************************/

/* photo-upload css */

.card {
  margin: 50px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  background-image: linear-gradient(#c5d0d9, #ebeced, #c5d0d9);
  border-radius: 10px;
}

.file-upload-container {
  padding: 10px;
  overflow: hidden;
  background: rgb(54, 148, 0);
  user-select: none;
  transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin: 20px;
  border: none;
  margin-left: 10px;

  border-radius: 5px;
}

.file-upload-container:hover {
  cursor: pointer;
  background: rgb(107, 187, 60);
  color: white;
  text-decoration: none;
}

.cancel-button {
  padding: 10px;
  overflow: hidden;
  background: rgb(54, 148, 0);
  transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin: 20px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: lavenderblush;
}

#save-pic-button {
  padding: 10px;
  overflow: hidden;
  background: rgb(54, 148, 0);
  transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin: 20px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  position: relative;
  top: -36px;
}

#cancel-tag {
  color: white;
  text-decoration: none;
}

.cancel-button:hover {
  cursor: pointer;
  background: rgb(107, 187, 60);
  color: white;
}

#save-pic-button:hover {
  cursor: pointer;
  background: rgb(107, 187, 60);
  color: white;
}

#img-preview {
  height: 200px;
  margin-top: 15px;
  margin-bottom: 10px;
}
#update-button{
  padding: 10px;
  overflow: hidden;
  background: rgb(54, 148, 0);
  transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
 
}

/********************************************************/

/* map css */

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/********************************************************/

/* posts */

.post-card {
  background-image: linear-gradient(#c5d0d9, #ebeced, #c5d0d9);
}

.fish-span {
  text-decoration: underline !important;
}
.fish-post-card{
  top: 15px;
  left: 0px;
  z-index: 500;
  background-image: linear-gradient( #17362a,#6b8c99, #6b8c99)
}
.time-stamp{
  color: rgb(100, 126, 197);
  font-size: small;
}


